<%
page.layout = "links"
page.title = theme.acglinks.title || __('acglinks.title')
page.subtitle = theme.acglinks.subtitle || __('acglinks.subtitle')
page.banner_img = theme.acglinks.banner_img
page.banner_img_height = theme.acglinks.banner_img_height
page.banner_mask_alpha = theme.acglinks.banner_mask_alpha
page.comment = theme.acglinks.comments.type
%>

<!-- links页面内容展示页面 -->
<h4>ACG</h4>
<hr>
<div class="row links">
  <% for(const each of theme.acglinks.items || []) { %>
    <% if (!each.title || !each.link) continue %>
    <div class="card col-lg-4 col-md-6 col-sm-12">
      <a href="<%= url_for(each.link) %>" class="card-body hover-with-bg" target="_blank" rel="noopener">
        <div class="card-content">
          <% if (each.avatar || each.image) { %>
            <div class="link-avatar my-auto">
              <img src="<%= url_for(each.avatar || each.image) %>" alt="<%= each.title %>"
                   onerror="this.onerror=null; this.src=this.srcset='<%= url_for(theme.links.onerror_avatar) %>'"/>
            </div>
          <% } %>
          <div class="link-text">
            <div class="link-title"><%- each.title %></div>
            <div class="link-intro"><%- each.intro || '' %></div>
          </div>
        </div>
      </a>
    </div>
  <% } %>
</div>

<h4><%= theme.acglinks.anime.title %></h4>
<hr>
<div class="row links">
  <% for(const each of theme.acglinks.anime.items || []) { %>
    <% if (!each.title || !each.link) continue %>
    <div class="card col-lg-4 col-md-6 col-sm-12">
      <a href="<%= url_for(each.link) %>" class="card-body hover-with-bg" target="_blank" rel="noopener">
        <div class="card-content">
          <% if (each.avatar || each.image) { %>
            <div class="link-avatar my-auto">
              <img src="<%= url_for(each.avatar || each.image) %>" alt="<%= each.title %>"
                   onerror="this.onerror=null; this.src=this.srcset='<%= url_for(theme.links.onerror_avatar) %>'"/>
            </div>
          <% } %>
          <div class="link-text">
            <div class="link-title"><%- each.title %></div>
            <div class="link-intro"><%- each.intro || '' %></div>
          </div>
        </div>
      </a>
    </div>
  <% } %>
</div>

<h4><%= theme.acglinks.comic.title %></h4>
<hr>
<div class="row links">
  <% for(const each of theme.acglinks.comic.items || []) { %>
    <% if (!each.title || !each.link) continue %>
    <div class="card col-lg-4 col-md-6 col-sm-12">
      <a href="<%= url_for(each.link) %>" class="card-body hover-with-bg" target="_blank" rel="noopener">
        <div class="card-content">
          <% if (each.avatar || each.image) { %>
            <div class="link-avatar my-auto">
              <img src="<%= url_for(each.avatar || each.image) %>" alt="<%= each.title %>"
                   onerror="this.onerror=null; this.src=this.srcset='<%= url_for(theme.links.onerror_avatar) %>'"/>
            </div>
          <% } %>
          <div class="link-text">
            <div class="link-title"><%- each.title %></div>
            <div class="link-intro"><%- each.intro || '' %></div>
          </div>
        </div>
      </a>
    </div>
  <% } %>
</div>

<h4><%= theme.acglinks.galgame.title %></h4>
<hr>
<div class="row links">
  <% for(const each of theme.acglinks.galgame.items || []) { %>
    <% if (!each.title || !each.link) continue %>
    <div class="card col-lg-4 col-md-6 col-sm-12">
      <a href="<%= url_for(each.link) %>" class="card-body hover-with-bg" target="_blank" rel="noopener">
        <div class="card-content">
          <% if (each.avatar || each.image) { %>
            <div class="link-avatar my-auto">
              <img src="<%= url_for(each.avatar || each.image) %>" alt="<%= each.title %>"
                   onerror="this.onerror=null; this.src=this.srcset='<%= url_for(theme.links.onerror_avatar) %>'"/>
            </div>
          <% } %>
          <div class="link-text">
            <div class="link-title"><%- each.title %></div>
            <div class="link-intro"><%- each.intro || '' %></div>
          </div>
        </div>
      </a>
    </div>
  <% } %>
</div>

<h4><%= theme.acglinks.resource.title %></h4>
<hr>
<div class="row links">
  <% for(const each of theme.acglinks.resource.items || []) { %>
    <% if (!each.title || !each.link) continue %>
    <div class="card col-lg-4 col-md-6 col-sm-12">
      <a href="<%= url_for(each.link) %>" class="card-body hover-with-bg" target="_blank" rel="noopener">
        <div class="card-content">
          <% if (each.avatar || each.image) { %>
            <div class="link-avatar my-auto">
              <img src="<%= url_for(each.avatar || each.image) %>" alt="<%= each.title %>"
                   onerror="this.onerror=null; this.src=this.srcset='<%= url_for(theme.links.onerror_avatar) %>'"/>
            </div>
          <% } %>
          <div class="link-text">
            <div class="link-title"><%- each.title %></div>
            <div class="link-intro"><%- each.intro || '' %></div>
          </div>
        </div>
      </a>
    </div>
  <% } %>
</div>

<% if(theme.acglinks.custom && theme.acglinks.custom.enable && theme.acglinks.custom.content) { %>
  <!-- Custom -->
  <div class="custom mx-auto">
    <%- theme.acglinks.custom.content %>
  </div>
<% } %>