<!-- 
  @author: mvlg
  @updateat: 2024/2/1 10:34:00
  @type: post
  @target: galgame review
  @component: post content
  @desc: Use to display data we have define in our post and their format is yml || yaml.
-->

<!-- 
  As my know, this page will be saved in the same ROM and wait me to use it again.
  So, if we have change some vars and use them at the next time, we will get the var result we have updated.

  How to resolve this problem:
  1. Add some conditions to judge before we exec.
  2. If the vae is object and we need to exec DML command, we need to deep clone these target data.
  3. Learn to use private field to limit the exec range of command.
  4. ......
-->


<% let snames = Object.values(page.info.name).filter(name => name != null); %>
    
<!-- Slider Bar Beginning -->
<%- partial('_partials/base/slider/slider', { images: page.images.cg.map(img => {
  <!-- Reload the page and the page will use the link we updated -->
  if (img.src.indexOf(page.images.dir) == -1) 
    img.src = page.images.dir + '/' + img.src;
  return img;
}) }) %>
<!-- Slider Bar Ending -->


<!-- Name Sub Bar Beginning -->
<div class="d-flex mb-4 p-1">
  <div class="m-auto">
    <% for (let sname of snames) { %>
      <small class="text-muted"><%- sname %></small>
    <% } %>
  </div>
</div>
<!-- Name Sub Bar Ending -->


<!-- Basic Information Beginning -->
<div class="container">
  <div><b>Developer</b>: <%- page.info.developer.join(' & ') %></div>
  <div><b>Publisher</b>: <%- page.info.publishers.jp.join(' & ') %></div>
  <div><b>Staff</b>:
    <table class="table table-striped mt-2 ml-2">
      <thead>
        <tr>
          <th class="text-center align-middle">名前</th>
          <th class="text-center align-middle">担当</th>
          <th class="text-center align-middle">主役</th>
          <th class="text-center align-middle">紹介</th>
        </tr>
      </thead>
      <tbody>
        <% let staff = page.info.staff; %>
        <!-- Script Staff -->
        <% if (staff.script) staff.script.forEach(person => { %>
          <tr>
            <td class="text-center align-middle"><%- person.name %></td>
            <td class="text-center align-middle">脚本</td>
            <td class="text-center align-middle"><%- person.primary ? 'はい' : 'いいえ' %></td>
            <td class="text-center align-middle"><%- person.desc %></td>
          </tr>
        <% }) %>
        <!-- Voice Staff -->
        <% if (staff.voice) staff.voice.forEach(person => { %>
          <tr>
            <td class="text-center align-middle"><%- person.name %></td>
            <td class="text-center align-middle">女优</td>
            <td class="text-center align-middle"><%- person.primary ? 'はい' : 'いいえ' %></td>
            <td class="text-center align-middle"><%- person.desc %></td>
          </tr>
        <% }) %>
        <!-- Artist Staff -->
        <% if (staff.artist) staff.artist.forEach(person => { %>
          <tr>
            <td class="text-center align-middle"><%- person.name %></td>
            <td class="text-center align-middle">原画</td>
            <td class="text-center align-middle"><%- person.primary ? 'はい' : 'いいえ' %></td>
            <td class="text-center align-middle"><%- person.desc %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <div><b>Links</b>: 
    <% page.info.links.forEach(link => { %>
      <span><a href="<%- link.link %>"><%- link.title %></a></span>
    <% }) %>
  </div>
  <div><b>Forum</b>: 
    <% page.links.forEach(link => { %>
      <span><a href="<%- link.link %>"><%- link.title %></a></span>
    <% }) %>
  </div>
</div>
<!-- Basic Information Ending -->


<!-- Event List Bar Beginning -->
<h2>Event History</h2>
<% for (let item of page.playhis) { %>
  <% let idx = item.no; %>

  <!-- Title -->
  <div class="ml-3">
    <div class="d-flex mb-3" style="height:2rem; line-height: 2rem;">
      <span class="align-middle mr-3" style="font-size: 1.7rem;">Times: <%- idx %></span>
      <span class="text-muted mr-2" style="line-height: 2.5rem;">Speed: <%- item.speed %></span>
      <span class="text-muted" style="line-height: 2.5rem;">Status: <%- item.status %></span>
    </div>
    <div>
      <% let release = page.info.release[idx]; %>
      <h4><%- release.name %></h4>
      <div class="ml-md-2">
        <div><b>date</b>:
          <span><%- release.date %></span>
        </div>
        <div class="d-flex">
          <div class="mr-3"><b>region</b>:
            <span><%- release.region.toUpperCase() %></span>
          </div>
          <div><b>platform</b>:
            <span><%- release.platform %></span>
          </div>
        </div>
        <div><b>cg</b>:
          <% for (let cg of release.cg) { %>
            <span><%- cg %></span>
          <% } %>
        </div>
        <div><b>tag</b>:
          <% if (release.r18) { %>
            <span>R18</span>
          <% } %>
          <% if (release.disk) { %>
            <span>Disk</span>
          <% } %>
          <% if (release.dl) { %>
            <span>DL</span>
          <% } %>
        </div>
        <% if (release.desc && release.desc.length > 0) { %>
          <div><b>desc</b>:
            <%- release.desc %>
          </div>
        <% } %>
      </div>
    </div>
    <div>
      <h3>description</h3>
      <%- item.desc %>
    </div> 
  </div>

  <style>
  .post-score-bar {
    display: flex;
    flex-direction: column;
  }
  .post-score-bar-base-sub-bar {
    display: flex;
    flex-direction: column;
  }
  @media (width >= 1100px) {
    .post-score-bar-base-sub-bar {
      flex-direction: row;
    }
  }
  @media (width >= 1700px) {
    .post-score-bar {
      flex-direction: row;
    }
  }
  </style>
  <div class="post-score-bar">
    <!-- Score -->
    <div class="">
      <div class="post-score-bar-base-sub-bar">
        <div>
          <h3 class="text-left ml-3">Score</h3>
          <%- partial('_partials/base/table/table-lr-kv', { data: page.score[idx].base }) %>
        </div>
        <div>
          <h3 class="text-left ml-3">R Score</h3>
          <%- partial('_partials/base/table/table-lr-kv', { data: page.score[idx].r18 }) %>
        </div>
      </div>
    </div>

    <!-- Playtime -->
    <div class="">
      <h3 class="text-left ml-3">Playtime</h3>
      <% 
        let playtime = page.playtime[idx];
      %>
      <%- partial('_partials/base/table/table-lr-kv', { data: playtime }) %>
    </div>
  </div>

  <!-- Event List -->
  <h3 class="text-center">Event</h3>
  <%- partial('_partials/base/table/table', { title: page.eventList.title.jp, data: page.eventList.his[idx] }) %>

  <!-- Event Group List -->
  <h3 class="text-center">Event Group</h3>
  <%- partial('_partials/base/table/table', { title: page.eventGroupList.title.jp, data: page.eventGroupList.his[idx] }) %>

<% } %>
<!-- Event List Bar Ending -->


<!-- Review Beginning -->
<h2>Review</h2>
<div class="container">
  <!-- Tips -->
  <div>
    <h3>Tips</h3>
    <ol style="margin-left: -1rem;">
      <% for (let tip of page.review.tips) { %>
        <li><%- tip %></li>
      <% } %>
    </ol>
  </div>

  <!-- Short Review -->
  <% if (page.review.slogan) { %>
    <div>
      <h3>Slogan</h3>
      <div>
        <% for (let slogan of page.review.slogan) { %>
          <div class="card border-radius mb-4">
            <div class="card-body">
              <p class="card-text"><%- slogan.sentence %></p>
              <div class="d-flex justify-content-end">
                <small class="text-muted">—— <%- slogan.writer %>《<%- slogan.collection %>》from <%- slogan.resource %></small>
              </div>
            </div>
          </div>
        <% } %>
        </div>
    </div>
  <% } %>

  <!-- Short Review -->
  <% if (page.review.short.filter(x => x.date != null && x.content != null).length > 0) { %>
    <div>
      <h3>Short Review</h3>
      <div>
        <% for (let review of page.review.short) { %>
          <div class="card border-radius mb-4">
            <div class="card-body">
              <p class="card-text"><%- review.content %></p>
              <small class="text-muted"><%- review.date %></small>
            </div>
          </div>
        <% } %>
        </div>
    </div>
  <% } %>

  <!-- Long Review -->
  <% if (page.review.long.filter(x => x.date != null && x.content != null && x.title != null).length > 0) { %>
    <div>
      <h3>Long Review</h3>
      <div>
        <% for (let review of page.review.long) { %>
          <div class="card border-radius mb-4">
            <div class="card-body">
              <h5 class="card-title"><%- review.title %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%- review.date %></h6>
              <p class="card-text"><%- review.content %></p>
              <% for (let tag of review.tags) { %>
                <a href="/tags/<%- tag %>" class="card-link m-0 text-muted"><small>#<%- tag %></small></a>
              <% } %>
            </div>
          </div>
        <% } %>
        </div>
    </div>
  <% } %>
</div>
<!-- Review Ending -->

<!-- 3rd Review Beginning -->
<h2>Review Forum</h2>
<div class="container">
  <!-- Playtime -->
  <% let oplaytime = page['3rd-playtime']; %>
  <% Object.keys(oplaytime).forEach(forum => { %>
    <% let table = oplaytime[forum]; %>
    <h3>Playtime - <%- forum.toUpperCase() %></h3>
    <%- partial('_partials/base/table/table-tb-kv', { data: table }) %>
  <% }) %>
  <!-- Playtime End -->

  <!-- Score -->
  <% let oscore = page['3rdscore']; %>
  <% Object.keys(oscore).forEach(forum => { %>
    <% 
      let otable = oscore[forum]; 
      <!-- deep clone table object -->
      let table = deepclone(otable);
      let range = table['range'];
      delete table['range'];
    %>
    <h3>Score - <%- forum.toUpperCase() %></h3>
    <%- partial('_partials/base/table/table-tb-kv', { data: table }) %>
    <%- partial('_partials/base/table/table-tb-kv', { data: range.reverse() }) %>
  <% }) %>
  <!-- Score End -->
</div>
<!-- 3rd Review Ending -->

<!-- Appendix Content Beginning -->
<%- page.content %>
<!-- Appendix Content Ending -->